<div id="mainImageSlideshow" class="carousel slide" data-bs-ride="carousel" data-bs-ride="true" style="height: 300px;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainImageSlideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#mainImageSlideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#mainImageSlideshow" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="http://www.cpucollege.edu.et/Pages/Top/Images/8291de16_af96_4af3_88cf_79bd824469d3_wide.jpg" class="sldImg d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="http://www.cpucollege.edu.et/Pages/Top/Images/69cac668_a58c_4b1c_82cf_0094be693387_wide.jpg" class="sldImg d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="http://www.cpucollege.edu.et/Pages/Top/Images/f5761942_37ad_4b75_98d1_a1e12038ae1a_wide.jpg" class="sldImg d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainImageSlideshow" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainImageSlideshow" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>